DATABASE_URL=""
DIRECT_URL=""
AUTH_URL="http://localhost:3000"
AUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""
DOCTOR_INVITE_CODE="doctor-invite-2024"
ADMIN_INVITE_CODE="admin-invite-2024"
PUSHER_APP_ID=""
PUSHER_KEY=""
PUSHER_SECRET=""
PUSHER_CLUSTER=""
NEXT_PUBLIC_PUSHER_KEY=""
NEXT_PUBLIC_PUSHER_CLUSTER=""
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_PHONE_NUMBER=""
